################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TailwindWatcher
/bin/Debug
/obj
/.vs
